{% ckan_extends %}

{% block content_action %}
  {{ super() }}

  {% if res %}
    {% set resource_type = res.resource_type %}
  {% elif request.GET is defined %}
    {% set resource_type = request.GET["resource_type"] %}
  {% else%}
    {% set resource_type = request.args.get("resource_type") %}
  {% endif %}

  {% set validator_schema = h.get_resource_field(pkg.type, resource_type, 'schema').get('field_value') %}
  {% if validator_schema %}
  <a href="/validation/template/{{validator_schema}}" class='btn btn-default'>
      <i class="fa fa-arrow-circle-o-down"></i>
      {{ _('Template') }}
  </a>
  {% endif %}
{% endblock %}
