{% ckan_extends %}

{% block footer_content %}

<div class="row">
  <div class="col-md-8 footer-links">
    {% block footer_nav %}
      <ul class="list-unstyled">
        {% block footer_links %}
          <li><a href="/pages/about">{{ _('About') }}</a></li>
        {% endblock %}
      </ul>
      <ul class="list-unstyled">
        {% block footer_links_ckan %}
          {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
          <li><a href="/pages/terms-and-conditions">{{ _('Terms and Conditions') }}</a></li>
          <li><a href="/pages/cookies">{{ _('Cookie Policy') }}</a></li>
          <li><a target="blank" href="https://github.com/fjelltopp/adx_develop">{{_('Github Source Code')}}</a></li>
        {% endblock %}
      </ul>
    {% endblock %}
  </div>
  <div class="col-md-4 attribution">
    {% block footer_attribution %}
      <p>{% trans %}An open source <a class="hide-text" target="_blank" href="https://ckan.org/"><strong>CKAN</strong></a> project,<br/> built for UNAIDS by <a class="hide-text" target="_blank" href="http://fjelltopp.org"><strong>Fjelltopp</strong></a>.{% endtrans %}</p>
    {% endblock %}
    {% block footer_lang %}
      {% snippet "snippets/language_selector.html" %}
    {% endblock %}
  </div>
</div>

{% endblock %}
