@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url('AvenirLTStd-Book.woff2') format('woff2'),
        url('AvenirLTStd-Book.woff') format('woff'),
        url('AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'AvenirLTStd-Book', 'sans-serif';
}

#membership-request-form .control-group{
  margin: 10px 0px;
}

.page-heading.form-group{
  border-bottom: solid 1px #eee;
  padding-left: 20px;
  margin-top: 30px;
}

.alert{
  margin: 20px 0px;
}

.unaids-logo img{
  max-width: 500px;
}
.masthead{
    border-bottom: 1px solid #e31837;
    padding: 20px 0px;
}

.masthead .logo img {
    max-height: 120px;
}

#field-lang-select{
  color: black;
}

a.dropdown-item{
  padding: 10px;
  display: block;
}

.masthead .navbar-collapse {
    padding: 30px 0;
}

.navbar-toggle{
  font-size: 30px;
  padding: 20px;
}
.dataset-heading .label{
  margin-right: 10px;
  padding: 0.4em 0.4em 0.2em;
}

.dataset-heading .label.dataset-type{
  background-color: #e31837;
}

.homepage-partners{
  padding-bottom: 30px;
}

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
  color: #e31837;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 15px;
}

.row.page-list-item {
  margin: 0px 0px;
  padding: 20px 0px;
  border-top: 1px solid #e31837;
}

.form-horizontal .form-group,
.form-horizontal .control-group,
.form-actions{
  margin: 20px 0px;

}

.site-footer{
    background: #666;
}

[role=main]{
    min-height: 75vh;
}

.homepage [role=main]{
    min-height: 350px;
}

.template-button{
  padding: 15px 15px 12px 50px;
  position: relative;
}

.template-button i{
  font-size: 30px;
  position: absolute;
  left: 15px;
  top: 12px;
}

.programmatic-templates-outline{
  border: solid 2px #e31837;
  border-radius: 20px;
  padding: 0px 0px 20px;
  margin: 20px auto;
}

.programmatic-templates{
  font-size:18px;
}
